DATABASE_URL="postgresql://embark:embark@localhost:5432/embark?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-to-a-random-32-char-string"
RAZORPAY_KEY_ID="rzp_test_..."
RAZORPAY_KEY_SECRET="test_secret_..."
